/* Meyer Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
   ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
   ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
   ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/

:root{
    --main-clr: #1992D3;
    --complementary-clr: #E2E8F0;
    --contrast-clr: #FFFFFF;
    --accent-clr: #F0B329;

    --main-font: 'Roboto', sans-serif;
    --normal-font-weight: 400;
    --normal-font-size: 1rem;
    --small-font-size: 0.5rem;
    --bold-font-weight: 700;

    --nav-font-size: 1.1rem;
    --nav-font-weight: 500;
    --nav-font-clr: #FFFFFF;

    --body-font-clr: #292929;

    --card-font-size: 0.9rem;
    --card-font-clr: #636363;
    --card-radius: 10px;
   
    --img-radius: 100%;
    --btn-radius: 30px;

    --card-box-shadow: 2px 2px 10px 2px rgba(119, 119, 119, 0.45);
}

body{
    font-family: var(--main-font);
    color: var(--body-font-clr);
}

.grid-container{
    max-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 8fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

/* 

Header Layout

*/

#header{
    grid-area: header;
     /* background-color: coral;var(--contrast-clr); */
    display: grid;
    grid-template-rows: repeat(2, minmax(60px,80px));
    padding: 15px 60px;
    font-weight: var(--bold-font-weight);
    box-shadow: 0px 3px 15px 2px rgba(162, 154, 154, 0.45);
    z-index: 1;
}

.user-avatar{
    border-radius: var(--img-radius);
    width: 50px;
    height: 50px;
}

#header .upper-side {
    display: flex;
    align-items: center;
 }

#header .upper-side > div{
    flex: 1;
    display: flex;
    gap: 40px;
    justify-content: end;
    align-items: center;
}

#header .upper-side > div:first-child{
    flex: 1.5;
}

#header .upper-side > div:last-child{
    align-self: center;
}

#header .upper-side .search-bar{
    background-color: var(--complementary-clr);
    border: none;
    border-radius: 15px;
    padding: 8px 10px;
    flex: 1;
}

#header .lower-side {
    display: grid;
    grid-template-columns: minmax(60px,70px) 1fr auto auto auto;
    gap: 25px;
    padding: 5px 0 0;
    place-items: center start;
}

#header .lower-side .user-avatar {
    width: 75px;
    height: 75px;
}

#header .lower-side .greet {
    margin-top: 10px;
    align-self: start;
}

#header .lower-side .greet p {
    font-size: 0.8rem;
}

#header .lower-side .greet h1 {
    margin-top: 0.6rem;
    font-size: 1.4em;
}

.action-btn{
    border: none;
    border-radius: var(--btn-radius);
    background-color: var(--main-clr);
    color: var(--contrast-clr);
    font-size: var(--main-font);
    font-weight: 600;
    padding: 10px 35px;
}

/* 

Sidebar Layout

*/

#sidebar{
    grid-area: sidebar;
    background-color: var(--main-clr);
    color: var(--nav-font-clr);
    padding: 20px 10px 0;

    display: grid;
    grid-template-rows: 50px 100px minmax(100px,300px);
    align-items: start;
    gap: 50px;
}

#sidebar > * {
    margin-left: 20px;
}

#sidebar .fa-user-doctor{
    font-size: 2rem;
    align-self: end;

}

#sidebar .fa-user-doctor span {
    font-size: 1rem;
}


#sidebar > ul > li{
    font-size: var(--nav-font-size);
    font-weight: var(--nav-font-weight);
    margin-top: 25px;
    display: grid;
    grid-template-columns: 30px 1fr;
    justify-items: center;
    gap: 20px;

}

#sidebar > ul > li > span{
    justify-self: start;

}

#sidebar .extra-nav{
    align-self: end;
}

/* 

Main Layout

*/

#main-content {
    grid-area: main;
    background-color: var(--complementary-clr);
    padding: 40px 30px 30px;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 25px;
    grid-template-areas:
    "p a"
    "p t";
}

#main-content .section-title{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 15px;
}

#main-content .projects{
    grid-area: p;
}

#main-content .projects .card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px,1fr));
    grid-template-rows: repeat(3, minmax(150px, 225px));
    gap: 25px;
}

#main-content .card{
    background-color: var(--contrast-clr);
    border-radius: var(--card-radius);
    border-left: solid 10px var(--accent-clr);
    box-shadow: var(--card-box-shadow);
    place-items: start;
    padding: 30px 20px;

    display: grid;
    grid-template-rows: 20px 1fr 1fr;
    position: relative;
    top:0;
    transition: top 0.2s ease-out;
}

#main-content .card:hover{
    top: -3px;
}

#main-content .card h3 {
    font-size: var(--normal-font-size);
    font-weight: var(--bold-font-weight);
}

#main-content .card p {
    font-size: var(--card-font-size);
    color: var(--card-font-clr);
    line-height: 1.4;
}

#main-content .card ul {
    align-self: end;
    justify-self: end;
    display: flex;
    gap: 20px;
    font-size: 1.2rem;
}

#main-content .wrapper{
    background-color: var(--contrast-clr);
    box-shadow: var(--card-box-shadow);
    border-radius: var(--card-radius);
}

#main-content .announcements{
    align-self: start;
    grid-area: a;    
}

#main-content .announcements .wrapper{
    padding: 30px;    
}

#main-content .announcements .wrapper h3{
    font-weight: var(--bold-font-weight);
    font-size: 0.8rem;
}

#main-content .announcements .wrapper hr{
    margin: 15px 0;
    color: var(--card-font-clr);
    opacity: 0.4;

}

#main-content .announcements .wrapper p{
    margin-top: 4px;
    color: var(--card-font-clr);
    font-size: 0.7rem;
    line-height: 1.2;
}

#main-content .trending{
    grid-area: t;
}

#main-content .trending .wrapper{
    padding: 30px;
    height: inherit;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: repeat(4, 60px);
    place-items: center start;
    gap: 15px;
}

#main-content .trending .wrapper > div > p{
    font-size: 0.8rem;
    margin-bottom: 5px;
}

#main-content .trending .wrapper > div > span{
    color: var(--card-font-clr);
    font-size: 0.8rem;

}